<p>onboarding-application works!</p>
<form [formGroup]="onboardingForm" (ngSubmit)="submitForm()">
  <!-- Personal Information -->
  <div formGroupName="name">
    <!-- First Name Field -->
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        placeholder="First Name"
        required
      />
    </mat-form-field>

    <!-- Last Name Field -->
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Last Name"
        required
      />
    </mat-form-field>

    <!-- Middle Name Field -->
    <mat-form-field>
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName" placeholder="Middle Name" />
    </mat-form-field>

    <!-- Preferred Name Field -->
    <mat-form-field>
      <mat-label>Preferred Name</mat-label>
      <input
        matInput
        formControlName="preferredName"
        placeholder="Preferred Name"
      />
    </mat-form-field>
  </div>

  <!-- Profile Picture Upload -->
  <div>
    <input type="file" name="profilePicture" (change)="onFileSelect($event, 'profilePicture')" enctype="multipart/form-data"/>
  </div>

  <!-- Address -->
  <div formGroupName="address">
    <mat-form-field appearance="fill">
      <mat-label>Building/Apt</mat-label>
      <input matInput formControlName="buildingApt" placeholder="Building/Apt" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Street Name</mat-label>
      <input matInput formControlName="street" placeholder="Street Name" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="City" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" placeholder="State" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Zip Code</mat-label>
      <input matInput formControlName="zip" placeholder="Zip Code" required/>
    </mat-form-field>
  </div>

  <!-- Phone Numbers -->
  <div formGroupName="phoneNumbers">
    <mat-form-field>
      <mat-label>Cell Phone Number</mat-label>
      <input matInput formControlName="cell" placeholder="Cell Phone Number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Work Phone Number</mat-label>
      <input matInput formControlName="work" placeholder="Work Phone Number" />
    </mat-form-field>
  </div>

  <!-- Car Information -->
  <div formGroupName="carInfo">
    <mat-form-field>
      <mat-label>Car Make</mat-label>
      <input matInput formControlName="make" placeholder="Car Make" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Model</mat-label>
      <input matInput formControlName="model" placeholder="Car Model" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Car Color</mat-label>
      <input matInput formControlName="color" placeholder="Car Color" />
    </mat-form-field>
  </div>

  <!-- Email -->
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email" required/>
  </mat-form-field>

  <!-- Personal Information -->
  <div formGroupName="personalInfo">
    <mat-form-field>
      <mat-label>Social Security Number</mat-label>
      <input
        matInput
        formControlName="ssn"
        placeholder="Social Security Number"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="not_specified">I do not wish to answer</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Citizenship Status -->
  <mat-form-field>
    <mat-label>Are you a citizen or permanent resident of the U.S?</mat-label>
    <mat-select formControlName="isUSCitizen">
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Conditional Visa Details -->
  <div
    *ngIf="onboardingForm.get('isUSCitizen')!.value === 'No'"
    formGroupName="visaDetails"
  >
    <mat-form-field>
      <mat-label>Select Visa Type</mat-label>
      <mat-select formControlName="visaType">
        <mat-option value="F1(CPT/OPT)">F1(CPT/OPT)</mat-option>
        <mat-option value="H1-B">H1-B</mat-option>
        <!-- ... other visa types -->
      </mat-select>
    </mat-form-field>
    <div
      *ngIf="
        onboardingForm.get('visaDetails.visaType')!.value === 'F1(CPT/OPT)'
      "
    >
      <input type="file" name="optReceipt" (change)="onFileSelect($event, 'optReceipt')" enctype="multipart/form-data"/>
    </div>
    <mat-form-field>
      <mat-label>Visa Title</mat-label>
      <input matInput formControlName="visaTitle" placeholder="Visa Title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

    <!-- Driver's License -->
    <div formGroupName="driverLicense">
      <mat-form-field>
        <mat-label>Do you have a driver's license?</mat-label>
        <mat-select formControlName="hasLicense" required>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <div
        *ngIf="
          onboardingForm.get('driverLicense.hasLicense')!.value === 'Yes'
        "
      >
      <mat-form-field>
        <mat-label>License Number</mat-label>
        <input
          matInput
          formControlName="licenseNumber"
          placeholder="License Number"
          value=""
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Expiration Date</mat-label>
        <input
          matInput
          [matDatepicker]="licenseExpPicker"
          formControlName="expirationDate"
          value=""
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="licenseExpPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #licenseExpPicker></mat-datepicker>
      </mat-form-field>
      <input type="file" name="licenseCopy" (change)="onFileSelect($event, 'licenseCopy')" enctype="multipart/form-data"/>
    </div>
  </div>

  <!-- Reference -->
  <div formGroupName="reference">
    <mat-form-field>
      <mat-label>Reference First Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        placeholder="Reference First Name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference Last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Reference Last Name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference Middle Name</mat-label>
      <input
        matInput
        formControlName="middleName"
        placeholder="Reference Middle Name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference phone</mat-label>
      <input
        matInput
        formControlName="phone"
        placeholder="Reference phone"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference Email address</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Reference Email address"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reference relationship</mat-label>
      <input
        matInput
        formControlName="relationship"
        placeholder="Reference relationship"
      />
    </mat-form-field>
  </div>

  <!-- Emergency Contacts (Dynamic FormArray) -->
  <!-- <div formArrayName="emergencyContacts">
    <div
      *ngFor="
        let contact of onboardingForm.get('emergencyContacts').controls;
        let i = index
      "
      [formGroupName]="i"
    >
      <input
        formControlName="firstName"
        placeholder="Emergency Contact First Name"
      />
      <input
        formControlName="lastName"
        placeholder="Emergency Contact Last Name"
      />
    </div>
    <button type="button" (click)="addEmergencyContact()">
      Add Another Contact
    </button>
  </div> -->

  <!-- Submit Button -->
  <button mat-raised-button type="submit">Submit</button>
</form>
