<app-navigation></app-navigation>
<div class="hiring-management-container">
  <button mat-raised-button color="primary" (click)="openTokenModal()">Generate token and send email</button>

  <mat-table #tokenTable class="mat-elevation-z8" [dataSource]="tokens">
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email Address</mat-header-cell>
      <mat-cell *matCellDef="let token">{{ token.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let token">{{ token.status }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['email', 'status']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['email', 'status'];"></mat-row>
  </mat-table>

  <div class="application-section">
    <h2>Pending Applications</h2>
    <div *ngFor="let application of pendingApplications" class="application-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ application.firstName }} {{ application.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ application.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="viewApplication(application)">View Application</button>
          <button mat-button (click)="approveApplication(application._id)">Approve</button>
          <button mat-button (click)="rejectApplication(application._id, 'Your feedback')">Reject</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="application-section">
    <h2>Rejected Applications</h2>
    <div *ngFor="let application of rejectedApplications" class="application-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ application.firstName }} {{ application.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ application.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="viewApplication(application)">View Application</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="application-section">
    <h2>Approved Applications</h2>
    <div *ngFor="let application of approvedApplications" class="application-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ application.firstName }} {{ application.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ application.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="viewApplication(application)">View Application</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

