.visa-status-management {
  padding: 20px;
  display: flex;
  flex-direction: column;
  // align-items: center;

  .mat-form-field {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .mat-input-element {
      padding: 8px 16px;
    }

    .mat-icon {
      margin-right: 8px;
    }

    .mat-label {
      color: #333;
    }
  }

  mat-table {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    mat-header-cell {
      background-color: #e3e3e3;
      padding: 12px 8px;
      font-size: 14px;
      font-weight: bold;
    }

    mat-cell {
      padding: 12px 8px;
      font-size: 14px;
    }

    button {
      margin-right: 8px;
      margin-top: 4px;
    }

    a {
      margin-right: 8px;
      margin-top: 4px;
    }
  }
}
