<app-navigation></app-navigation>
<div class="visa-status-management">
  <mat-form-field>
    <mat-label>Search for employee</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>

  <mat-table [dataSource]="inProgressDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="workAuthorizationTitle">
      <mat-header-cell *matHeaderCellDef>Work Authorization</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.application.workAuthorization }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="currentStep">
      <mat-header-cell *matHeaderCellDef>Current Step</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.currentStep}}</mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="nextStep">
      <mat-header-cell *matHeaderCellDef>Next Step</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nextStep}}</mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button *ngIf="element.needsApproval" (click)="approveDocument(element.visaId, element.currentStep)">Approve</button>
        <button mat-button *ngIf="element.needsApproval" (click)="rejectDocument(element.visaId, element.currentStep, 'Your feedback')">Reject</button>
        <button mat-button *ngIf="!element.needsApproval" (click)="sendNotification(element.email)">Send Notification</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-table [dataSource]="allDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="workAuthorizationTitle">
      <mat-header-cell *matHeaderCellDef>Work Authorization</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.application.workAuthorization}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsAll"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsAll;"></mat-row>
  </mat-table>
</div>
