<app-employee-navigation />
<mat-card>
  <mat-card-title>Personal Information</mat-card-title>
  <mat-card-content>
    <form [formGroup]="personalInfoForm">
      <!-- Name Section -->
      <mat-card>
        <mat-card-title>Name</mat-card-title>
        <div *ngIf="!editMode.name; else editName">
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item
                  >First Name: {{ userData?.firstName }}</mat-list-item
                >
                <mat-list-item
                  >Last Name: {{ userData?.lastName }}</mat-list-item
                >
                <mat-list-item
                  >Middle Name: {{ userData?.middleName }}</mat-list-item
                >
                <mat-list-item
                  >Preferred Name: {{ userData?.preferredName }}</mat-list-item
                >
              </mat-list>
              <button
                mat-raised-button
                color="primary"
                (click)="toggleEdit('name')"
              >
                Edit
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #editName>
          <form [formGroup]="getFormGroup('name')">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Middle Name</mat-label>
              <input matInput formControlName="middleName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Prefered Name</mat-label>
              <input matInput formControlName="preferredName" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="save('name')">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="cancel('name')">
              Cancel
            </button>
          </form>
        </ng-template>
      </mat-card>

      <!-- Address Section -->
      <mat-card>
        <mat-card-title>Address</mat-card-title>
        <div *ngIf="!editMode.address; else editAddress">
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item
                  >Building/Apt:
                  {{ userData?.address?.buildingApt }}</mat-list-item
                >
                <mat-list-item
                  >City: {{ userData?.address?.city }}</mat-list-item
                >
                <mat-list-item
                  >Street: {{ userData?.address?.street }}</mat-list-item
                >
                <mat-list-item
                  >State: {{ userData?.address?.state }}</mat-list-item
                >
                <mat-list-item>Zip: {{ userData?.address?.zip }}</mat-list-item>
              </mat-list>
              <button
                mat-raised-button
                color="primary"
                (click)="toggleEdit('address')"
              >
                Edit
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #editAddress>
          <form [formGroup]="getFormGroup('address')">
            <mat-form-field appearance="fill">
              <mat-label>Building and Apt</mat-label>
              <input matInput formControlName="building" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
              <input matInput formControlName="state" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zip" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="save('name')">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="cancel('name')">
              Cancel
            </button>
          </form>
        </ng-template>
      </mat-card>

      <!-- Contact Info Section -->
      <mat-card>
        <mat-card-title>Contact Info</mat-card-title>
        <div *ngIf="!editMode.contactInfo; else editContactInfo">
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item
                  >Cell Phone Number: {{ userData?.cellPhone }}</mat-list-item
                >
                <mat-list-item
                  >Work Phone Number: {{ userData?.workPhone }}</mat-list-item
                >
              </mat-list>
              <button
                mat-raised-button
                color="primary"
                (click)="toggleEdit('contactInfo')"
              >
                Edit
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #editContactInfo>
          <form [formGroup]="getFormGroup('contactInfo')">
            <mat-card>
              <mat-card-content>
                <mat-form-field appearance="fill">
                  <mat-label>Cell Phone Number</mat-label>
                  <input matInput formControlName="cell" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Work Phone Number</mat-label>
                  <input matInput formControlName="work" />
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="save('contactInfo')"
                >
                  Save
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="cancel('contactInfo')"
                >
                  Cancel
                </button>
              </mat-card-content>
            </mat-card>
          </form>
        </ng-template>
      </mat-card>

      <!-- Employment Section -->
      <mat-card>
        <mat-card-title>Employment</mat-card-title>
        <div *ngIf="!editMode.employment; else editEmployment">
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item
                  >Visa Type: {{ userData?.visaTitle }}</mat-list-item
                >
                <mat-list-item
                  >Start Date: {{ userData?.startDate }}</mat-list-item
                >
                <mat-list-item>End Date: {{ userData?.endDate }}</mat-list-item>
              </mat-list>
              <button
                mat-raised-button
                color="primary"
                (click)="toggleEdit('employment')"
              >
                Edit
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <ng-template #editEmployment>
          <form [formGroup]="getFormGroup('employment')">
            <mat-form-field appearance="fill">
              <mat-label>Work Phone Number</mat-label>
              <input matInput formControlName="work" />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="save('employment')"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="cancel('employment')"
            >
              Cancel
            </button>
          </form>
        </ng-template>
      </mat-card>

      <!-- Emergency Contact Section -->
      <mat-card>
        <mat-card-title>Emergency Contact</mat-card-title>
        <div *ngIf="!editMode.emergencyContact; else editEmergencyContact">
          <mat-card>
            <mat-card-content> </mat-card-content>
          </mat-card>
          <button
            mat-raised-button
            color="primary"
            (click)="toggleEdit('emergencyContact')"
          >
            Edit
          </button>
        </div>
        <ng-template #editEmergencyContact>
          <form [formGroup]="getFormGroup('emergencyContact')">
            <!-- ... emergency contact fields using <mat-form-field> -->
            <button
              mat-raised-button
              color="primary"
              (click)="save('emergencyContact')"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="cancel('emergencyContact')"
            >
              Cancel
            </button>
          </form>
        </ng-template>
      </mat-card>

      <!-- Documents Section -->
      <mat-card>
        <mat-card-title>Documents</mat-card-title>
        <!-- Display Document List -->
        <div *ngFor="let doc of documents">
          <div *ngIf="doc.url !== ''">
            <h3>{{ doc.name }}</h3>
            <button
              *ngIf="doc.url !== ''"
              mat-button
              (click)="downloadDocument(doc)"
            >
              Download
            </button>
            <button
              *ngIf="doc.previewUrl !== ''"
              mat-button
              (click)="previewDocument(doc)"
            >
              Preview
            </button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-card-content>
</mat-card>
