<mat-toolbar color="primary">
  <span>My Application</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/hr-home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/employee-profiles">
      <mat-icon>person</mat-icon> Employee Profiles
    </a>
    <a mat-button routerLink="/visa-status-management">
      <mat-icon>assignment_ind</mat-icon> Visa Status Management
    </a>
    <a mat-button routerLink="/hiring-management">
      <mat-icon>business_center</mat-icon> Hiring Management
    </a>
    <a mat-button routerLink="/housing-management">
      <mat-icon>home_work</mat-icon> Housing Management
    </a>
  </nav>
</mat-toolbar>
